.image-gallery-image {
  img {
    object-fit: contain;
    max-height: 100vh;
  }
  video {
    max-height: 100vh;
    max-width: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .uploaded {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
  }
}

.image-gallery-slide {
  background: transparent;
}

.image-gallery-image {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.image-gallery-thumbnails {
  position: fixed;
  bottom: 30px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  transition: all .2s;
  &:hover {
    bottom: 140px;
  }
}

.image-gallery-count {
  padding: 0 10px;
  color: #ccc;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

.image-gallery-thumbnails-container {
  display: flex;
  position: absolute;
  left: 50%;
  transition: transform .2s ease-out;
}

.image-gallery-thumbnail {
  position: relative;
  min-width: 140px;
  min-height: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid transparent;
  opacity: 0.3;
  transition: all .2s;
  .image-gallery-thumbnails:hover & {
    opacity: 0.8;
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
  &.active {
    background: #000;
    border-color: #337ab7;
  }
  &:focus {
    outline: none;
  }
  .uploaded {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }
}
